logging:
  level:
    root: INFO
    org.springframework.cloud.config.client.ConfigServerConfigDataLoader: WARN
  # file: name: logs/app.log
  pattern:
    console: "%d{d-MMM-yyyy HH:mm:ss.SSS}ms [%thread] [%-5level | %logger{1}]@> %msg%n"
    # %location, %method, %line, %file, @caller - very expensive!
    # %mdc{requestId} - analog for %X in log4j

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    loggers:
      enabled: true # for '/actuator/loggers/{}' only
    metrics:
      enabled: true
    health:
      show-details: always

springdoc:
  swagger-ui:
    enabled: true
    # http://host:port/swagger-ui/index.html (append '?urls.primaryName=m1doc' for specific controller)
  api-docs:
    enabled: true
    # http://host:port/v3/api-docs (append '.yaml' to download) - All controllers in the project
  group-configs:
    - group: m1doc
      paths-to-match:
        - /api/m1doc/**
    # http://host:port/v3/api-docs/m1doc - only for controller/s specified in 'paths-to-match'
    # the 'paths-to-match' should match with @RequestMapping on specific controller