<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <!--    <property name="CONSOLE_LOG_PATTERN" value="${logging.pattern.console}"/>-->
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/> <!-- (appender-ref=CONSOLE) -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/> <!-- (required) -->
    <!-- internals: spring boot (it works because file ends with '-spring') -->
    <springProperty name="SERVICE_NAME" source="spring.application.name" defaultValue="unk"/>
    <springProperty name="ACTIVE_PROFILE" source="spring.profiles.active" defaultValue="unk"/>
    <springProperty name="LOGGING_LEVEL_ROOT" source="logging.level.root" defaultValue="INFO"/>
    <!-- externals: Kubernetes, Docker, CI/CD -->
    <property name="GIT_COMMIT" value="${GIT_COMMIT:-unk}"/>
    <property name="POD_NAME" value="${POD_NAME:-unk}"/>

    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdcKeyName>traceId</includeMdcKeyName>
            <includeMdcKeyName>spanId</includeMdcKeyName>
            <customFields>
                {
                "app": "${SERVICE_NAME}",
                "profile": "${ACTIVE_PROFILE}",
                "git": "${GIT_COMMIT}",
                "pod": "${POD_NAME}"
                }
            </customFields>
        </encoder>
    </appender>

    <root level="${LOGGING_LEVEL_ROOT}">
        <appender-ref ref="CONSOLE"/>
        <!-- <appender-ref ref="JSON_CONSOLE"/> -->
    </root>

</configuration>