networks:
  backend:
    driver: bridge

#volumes:
#  consul_data:

x-common-service: &common
  networks: [ backend ]
  ports:
    - "8080"
  restart: no

  # ----- for LOCAL purposes only
#  depends_on:
#    cs-consul:
#      condition: service_healthy
#  environment:
#    SPRING_CLOUD_CONSUL_HOST: cs-consul
#    SPRING_CLOUD_CONSUL_PORT: 8500
#    SPRING_PROFILES_ACTIVE: ${PROFILE}
#    TZ: Europe/Kyiv

services:

  #  cs-consul:
  #    image: hashicorp/consul:1.16.1
  #    container_name: cs-consul
  #    networks: [ backend ]
  #    restart: no
  #    ports: [ "8500:8500" ]
  #    volumes: [ "consul_data:/consul/data" ]
  #    command: agent -server -bootstrap-expect=1 -client=0.0.0.0 -ui --log-level=ERR
  #    environment:
  #      TZ: Europe/Kyiv
  #    healthcheck:
  #      test: [ "CMD-SHELL", "curl -f http://localhost:8500/v1/status/leader || exit 1" ]
  #      interval: 6s
  #      timeout: 3s
  #      retries: 3
  #      start_period: 10s

  m1-service:
    <<: *common
    build:
      context: .
      dockerfile: m1-service/Dockerfile
    image: ${REGISTRY}/${IMAGE_NAMESPACE}/m1-service:${RELEASE_TAG}

  m3-service:
    <<: *common
    build:
      context: .
      dockerfile: m3-service/Dockerfile
    image: ${REGISTRY}/${IMAGE_NAMESPACE}/m3-service:${RELEASE_TAG}