x-common-service: &common
  env_file: .env
  networks: [ backend ]
  restart: no # [no, always, on-failure, unless-stopped]

services:

  m1service:
    <<: *common
    build: ./m1-service
    container_name: m1service
    ports: [ "${M1_SERVICE_PORT}:8080" ]
    depends_on:
      cs-config-server: # гарантує лише порядок старту контейнерів
        condition: service_healthy # [service_started, service_healthy, service_completed_successfully]

  m2service:
    <<: *common
    build: ./m2-service
    container_name: m2service
    ports: [ "${M2_SERVICE_PORT}:8080" ]
    depends_on:
      cs-config-server:
        condition: service_healthy

  m3service:
    <<: *common
    build: ./m3-service
    container_name: m3service
    ports: [ "${M3_SERVICE_PORT}:8080" ]
    depends_on:
      cs-config-server:
        condition: service_healthy

  cs-api-gateway:
    networks: [ backend ]
    restart: no # [no, always, on-failure, unless-stopped]
    build: ./cs-apiGateway
    container_name: cs-api-gateway
    ports: [ "8090:8080" ]
    depends_on: [ m1service, m2service, m3service ]

  cs-config-server:
    networks: [ backend ]
    restart: no # [no, always, on-failure, unless-stopped]
    # перезаписує профіль в '.env', бо має свої власні [native, git]
    environment: [ SPRING_PROFILES_ACTIVE=native ] # ПРІОРИТЕТИ: environment(найвищий) -> .env -> application.yml
    build:
      context: . # path to the root of Sample-msc to see 'config-repo' folder
      dockerfile: cs-configServer/Dockerfile
    container_name: cs-config-server
    ports: [ "8888:8080" ]
    healthcheck:
      test: [ "CMD-SHELL", "curl -f http://localhost:8080/actuator/health || exit 1" ] # localhost !!!
      interval: 4s
      timeout: 3s
      retries: 5
      start_period: 8s

networks: { backend: { driver: bridge } } # default driver - bridge