services:

  m1service:
    env_file: .env
    build: ./m1-service
    networks: [ backend ]
    restart: unless-stopped
    container_name: m1service
    ports: [ "${M1_SERVICE_PORT}:8080" ]
#    depends_on: [ cs_eureka_server ]

  m2service:
    env_file: .env
    build: ./m2-service
    networks: [ backend ]
    restart: unless-stopped
    container_name: m2service
    ports: [ "${M2_SERVICE_PORT}:8080" ]
#    depends_on: [ cs_eureka_server ]

  m3service:
    env_file: .env
    build: ./m3-service
    networks: [ backend ]
    restart: unless-stopped
    container_name: m3service
    ports: [ "${M3_SERVICE_PORT}:8080" ]
#    depends_on: [ cs_eureka_server ]

  cs_api_gateway:
    env_file: .env
    build: ./cs-apiGateway
    networks: [ backend ]
    restart: unless-stopped
    container_name: csApiGateway
    ports: [ "${API_GATEWAY_PORT}:8080" ]
#    depends_on: [ cs_eureka_server, m1service, m2service, m3service ]
    depends_on: [ m1service, m2service, m3service ]

#  cs_eureka_server:
#    build: ./cs-eurekaServer
#    networks: [ backend ]
#    restart: unless-stopped
#    container_name: csEurekaServer
#    ports: [ "${EUREKA_SERVER_PORT}:8080" ]

networks: { backend: { driver: bridge } } #default driver - bridge