spring:
  application:
    name: m3-service
  config:
    import:
      - "optional:consul:"
      - "optional:vault:"
      - "optional:kubernetes:"
  cloud:
    kubernetes:
      enabled: true
      config:
        enabled: true
        enableApi: true
        namespace: sample-mcs
      secrets:
        enabled: true
        enableApi: true
        namespace: sample-mcs
      reload:
        enabled: true
        mode: event
        strategy: refresh
    consul:
      enabled: false
      host: ${SPRING_CLOUD_CONSUL_HOST}
      port: ${SPRING_CLOUD_CONSUL_PORT}
      config:
        format: YAML
        enabled: true
        fail-fast: true
        default-context: application
      discovery:
        enabled: true
        register: true
        prefer-ip-address: false
        health-check-interval: 5s
        health-check-path: /actuator/health
        instance-id: ${spring.application.name}-${HOSTNAME}
    vault:
      enabled: false
      fail-fast: true
      uri: http://${SPRING_CLOUD_VAULT_HOST}:8200
      token: ${SPRING_CLOUD_VAULT_TOKEN}
      kv:
        enabled: true
        backend: secret
        profile-separator: /
        default-context: application

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always