spring:
  application:
    name: m3-service
  config:
    import:
    - "consul:"
    - "vault:"
  cloud:
    consul:
      host: cs-consul
      port: 8500
      config:
        format: YAML
        enabled: true
        fail-fast: true
        default-context: application
      discovery:
        enabled: true
        register: true
        prefer-ip-address: false
        health-check-interval: 5s
        health-check-path: /actuator/health
        # health-check-url: http://m3service:8080/actuator/health
    vault:
      enabled: true
      uri: http://${SPRING_CLOUD_VAULT_HOST}:8200
      token: ${SPRING_CLOUD_VAULT_TOKEN}
      kv:
        enabled: true
        backend: secret
        profile-separator: /
        default-context: application

management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always