<?xml version="1.0" encoding="UTF-8"?>

<!-- scan="true" - to make it work, this XML should be visible externally. In my case, it is inside JAR (not works) -->
<configuration>
    <!-- override the default CONSOLE_LOG_PATTERN with new pattern (useful for local view only) -->
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <!-- <property name="CONSOLE_LOG_PATTERN" value="%d{d-MMM-yyyy HH:mm:ss.SSS}ms [%thread] [%-5level | %logger{1}]@> %msg%n"/>-->

    <!-- include spring boot defaults (required) -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <!-- internals: spring boot -->
    <springProperty name="SERVICE_NAME" source="spring.application.name" defaultValue="unk1"/>
    <springProperty name="ACTIVE_PROFILE" source="spring.profiles.active" defaultValue="unk2"/>
    <!-- externals: Kubernetes, Docker, CI/CD -->
    <property name="GIT_COMMIT" value="${GIT_COMMIT:-unk4}"/>
    <property name="POD_NAME" value="${POD_NAME:-unk5}"/>

    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdcKeyName>traceId</includeMdcKeyName>
            <includeMdcKeyName>spanId</includeMdcKeyName>
            <customFields>
                {
                "app": "${SERVICE_NAME}",
                "profile": "${ACTIVE_PROFILE}",
                "git": "${GIT_COMMIT}",
                "pod": "${POD_NAME}"
                }
            </customFields>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/> <!-- works only when included the console-appender.xml -->
<!--        <appender-ref ref="JSON_CONSOLE"/>-->
    </root>

</configuration>